.creature-table {
    table {
        border-collapse: collapse !important;
        border: 1px solid #538135 !important;
        min-width: 50% !important;
    }

    th,
    td {
        min-width: 30px;
        padding-top: 0;
        padding-right: $sp-3;
        padding-bottom: 0;
        padding-left: $sp-3;
        background-color: #E2EFD9;
//        border-bottom: $border #538135;
//        border-left: $border #538135;
//        border-right: $border #538135;

        &:first-of-type {
//            border-left: $border #538135;
        }
    }

    tbody {
        tr {
          &:last-of-type {
            th,
            td {
//              border-bottom: $border #538135;
            }
      
            td {
              padding-bottom: 0;
            }
          }
        }
      }
      
      thead {
        th {
          border-bottom: $border #538135;
        }
      }
}